
#tableProduct {
    margin-left: 30px;
    height: auto;
    overflow-y: scroll;
}

.td {
    display: flex;
    justify-content: space-evenly;
}
main {
    height: 87vh;
}

.main-menu {
    display: flex;
    align-items: center;
    background: teal;
}
.product-detail {
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    text-align: center;
}

.product-detail ul {
    border: 2px solid teal;
    margin-top: 10px;
    padding: 50px;
    border-radius: 10px;
}

.top-products {
    margin-top: 30px;
    padding-left: 30px;
}
button {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

