.orders {
    padding-top: 30px;
    padding-left: 30px;
    display: flex;
    width: 100%;
}

.onleft {
    display: flex;
    justify-content:space-between;
    width: 50%;
    flex-wrap: wrap;
    height: 80vh;
    overflow-y: scroll;
}
.card{
    width: 90%;
    height: 40%;
    border: 1px solid teal;
    /* background: rgb(187, 181, 181); */
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px black;
    
}
.total,.name{
    margin-bottom: 30px;
}   
.scrooll{
    overflow-y: scroll;
    height: 50vh;
}
.onright {
    width: 55%;
    margin-left: 30px;
}
.onright h1{
    text-decoration: underline;
    margin-top: 10px;
}
/* .tot{
    margin-top: 30px;
    font-size: 30px;
} */

hr {
    border: 3px solid black;
    height: 12vh;
    margin-left: 20px;
}
.menu {
    margin: auto;
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.menu button {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.onright button{
    margin-top: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 40%;
    background: teal;
    color: white;
    font-weight: bold;
    padding: 18px 0;
    margin-left: 200px;
}
input {
    padding: 12px 5px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 3px solid black;
}
table{
    margin-top: 30px;
}
.btn-addtocart {
    width: 70px;
    padding: 15px;
    background: teal;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.canclebtn{
    /* width: 60px; */
    color: white;
    background: red;
    border-radius: 5px;
}
.btn-addtocart:hover{
    background: #000;
}
.input{
    width: 70px;
}
.td{
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-top: 14px;
    cursor: pointer;
}

.td img:hover {
    background: teal;
    padding: 5px;
    border-radius: 5px;
}
.text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 30px;
}
.text input{
    padding: 12px 5px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    width: 40%;
    outline: none;
    border: none;
    border-bottom: 3px solid black;
    margin-left: 200px;
}
.checkoutForm{
    padding: 40px;
    background: #000;
}

