.products {
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 20px;
}

.t {
    width: 60%;
}

input {
    padding: 12px 5px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: 3px solid black;
    margin-bottom: 30px;
}

.menu input {
    width: 100%;
}

.categoriesShow {
    display: flex;
    margin: 0 30px;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

.td {
    display: flex;
    justify-content: space-evenly;
}

.td img {
    width: 30px;
    height: 30px;

    cursor: pointer;
    

}

.td img:hover {
    background: teal;
    padding: 5px;
    border-radius: 5px;
}

.label {
    margin-top: 13px;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    padding: 0 30px;
}

.label select {
    padding: 0 30px;
    border: none;
    border-bottom: 3px solid black;

}
#select{
    width:100%;
    padding: 10px 0;
}
table {

    margin-top: 50px;
    margin-left: 30px;
    overflow-y: scroll;
}

button {
    background-color: teal;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 20px 40px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}
.addProduct{
    height: 70vh;
}
.menu {
    /* margin-top: 50px; */
    display: block;
    margin: auto;
    height: 70vh;
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.menu button {
    width: calc(100% - 10px);
    margin-bottom: 5px;
    padding: 17px 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.btn {
    display: flex;
}